@(title: String)(content: Html)

<!DOCTYPE html>

<html ng-app>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("external/angular.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("external/ui-bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/LoginModule.js")" type="text/javascript"></script>
    </head>
    <body >
        <h1>Here in the Western World </h1>
        <form name="login" ng-controller="LoginController as lg" ng-submit="lg.login(cred)" novalidate>
            <label for="username">Username:</label>
            <input type="text" id="username" ng-model="lg.cred.username" autofocus>
            <label for="password">Password:</label>
            <input type="text" id="password" ng-model="lg.cred.password">
            <button type="submit">Login</button>
        </form>
      <div>
        {{username}}
    </body>
</html>
